body {
    font-size: 20px;

}

.outer-box {
    background-color: black;
    margin: 10px;
    padding: 20px;
}

.inner-box {
    background-color: yellow;
    border-width: 20px;
    border-color: aqua;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.lesson {
    background-color: lightskyblue;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.water-bottle {
    padding: 0px;
    width: 180px;
    height: 180px; 
}

.narrow-bottle {
    padding: 0px;
    height: 180px; 
}

.boot {
    padding: 0px;
    width: 180px;
    height: 180px; 
    visibility: 'hidden';
}

.boot-bottle-box {
 /*   align: bottom; */
    vertical-align: middle;
    /*float: left;*/
}

.learn {
    font-size: larger;
}

.boot-bottle-intro {
    /*   align: bottom; */
       vertical-align: middle;
      /* float: left; */
       font-size: larger;
   }
.metric-ton {
 /*   align: bottom; */
    background-color: darkcyan;
    vertical-align: top;
    width: 60000px;
    height: 400px;
    font-size: larger;

}