body {
    font-size: 20px;
    display: flex;  
    flex-direction: column;
}

.waterBottle {
    padding: 0px;
    width: 180px;
    height: 180px; 
}

.boot {
    padding: 0px;
    width: 180px;
    height: 180px; 
    visibility: 'hidden';
}

.bottles-in-a-ton {
    padding: 5px;
    background-color: white;
    height: 370px;
    width: 100vw;
    align-items: flex-end;
}

.boot-bottle-box {
    vertical-align: middle;
    float: left;
    /*background-color: thistle;*/
}

.boot-bottle-intro {
/*   align: bottom; */
    /*font-size: larger;*/
    background-color: turquoise;
    padding: 5px;
}

.learn {
    font-size: larger;
    margin: 0;
    /*position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}

.metricTon {
    width: 40000px;
    height: 600px;
    font-size: larger;
    padding: 10px;
}

.millionMetricTon {
    /*width: 6000000000px;*/
    width: 400000px; /* nowhere even close */
    height: 1600px;
    font-size: larger;
    padding: 10px;
}

.top-label {
    visibility: hidden;
    padding: 10px;
    background-color: yellow;
    width: 200vw;
}

.bottom-label {
    visibility: hidden;
    padding: 10px;
    align-self: flex-end;
    background-color:tomato;
    width: 200vw;
}

.transparent {
    background-color: transparent;
}

.tonColor {
    background-color: green;
}

.millionTonColor {
    background-color: violet;
}