body {
    font-size: larger;
    display: flex;  
    flex-direction: column;
}

.waterBottle {
    padding: 0px;
    width: 180px;
    height: 180px; 
}

.boot {
    padding: 0px;
    width: 180px;
    height: 180px; 
    visibility: 'hidden';
}

.bottles-in-a-ton {
    padding: 5px;
    background-color: white;
    color: black;
    height: 370px;
    width: 100vw;
    align-items: flex-end;
}

.boot-bottle-box {
    vertical-align: middle;
    float: left;
    /*background-color: thistle;*/
}

.boot-bottle-intro {
/*   align: bottom; */
    /*font-size: larger;*/
    /*background-color: turquoise;*/
    padding: 5px;
}

.learn {
    font-size: larger;
    margin: 0;
    /*position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}

.metricTon {
    width: 100px;
    height: 20px;
/*    font-size: larger; */
    color: lightyellow;
    padding: 10px;
}

.millionMetricTon {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    padding: 10px;
    color: yellow;
}

.top-label {
    font-size: larger;
    padding: 10px;
    /*background-color: yellow;*/
    width: 200vw;
}

.bottom-label {
    font-size: larger;
    padding: 10px;
    align-self: flex-end;
    /*background-color:tomato;*/
    width: 200vw;
}

.hiddenText {
    visibility: hidden;
}


.tonColor {
    background-color: green;
}

.millionTonColor {
    background-color: purple;
}

