body {
    font-size: 20px;
    display: flex;  
}

.water-bottle {
    padding: 0px;
    width: 180px;
    height: 180px; 
}

.boot {
    padding: 0px;
    width: 180px;
    height: 180px; 
    visibility: 'hidden';
}

.bottles-in-a-ton {
    display: flex;
    padding: 5px;
    background-color: white;
    height: 370px;
    width: 100vw;
    align-items: flex-end;
}

.boot-bottle-box {
    vertical-align: middle;
    float: left;
    /*background-color: thistle;*/
}

.boot-bottle-intro {
/*   align: bottom; */
    /*font-size: larger;*/
    background-color: turquoise;
    padding: 5px;
}

.learn {
    font-size: larger;
    margin: 0;
    /*position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}

.metric-ton {
 /*   align: bottom; */
    background-color: green;
    vertical-align: top;
    width: 40000px;
    height: 600px;
    font-size: larger;
    padding: 10px;
}

.million-metric-ton {
    /*   align: bottom; */
    background-color: blueviolet;
    vertical-align: top;
    width: 6000000000px;
    height: 1600px;
    font-size: larger;
    padding: 10px;
}

.top-label {
    vertical-align: top;
    padding: 10px;
}

.bottom-label {
    vertical-align: text-bottom;
    padding: 10px;
    align-self: flex-end;
}